html {
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif";
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  color: #3f1622;
  margin-left: .25em;
  margin-top: .78em;
  font-size: 1.5rem;
  margin-bottom: 0;
}

ol {
  list-style-type: none;
  padding-left: 2.65em;
  margin-top: 1.25em;
  color: #8f2440;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 1.15em;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}

figure {
  margin: 0;
  width: 85%;
}

img {
  width: 100%;
  margin-left: 3em;
  margin-right: 2em;
  margin-bottom: 0;
}

figcaption {
  font-family: "PT serif";
  font-style: italic;
  text-align: center;
}

p {
  font-family: "PT serif";
  margin-left: .5em;
}

p:first-of-type {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.25em;
}

p:nth-child(3) {
  line-height: 1.5;
}

p:nth-child(4) {
  line-height: 1.5;
}

blockquote {
  font-size: 1.5rem;
  font-family: "PT serif";
  font-style: italic;
  margin-left: 2em;
  line-height: 1.5;
  margin-bottom: .75em;
}

.person {
  font-size: .8rem;
  font-family: "PT serif";
  margin-left: 3.5em;
}

h2 {
  margin-top: 1em;
  margin-left: .5em;
  color: #3f1622;
}

ol:nth-child(2) {
  list-style-type: lower-greek;
  color: #000;
  font-family: "PT serif";
  font-weight: normal;
}

ul {
  text-decoration: none;
}
